body {
    margin: 0 auto;
    background-color: darkslateblue;
}

h1 {
    color: white;
}
.btn {
    margin: 5px;
}

.score {

}

#cardImg{
    height: 250px;
    width: 500px;
}

#question {
    margin: 25px;
}

.title {
    margin: 25px;
}